@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic");
@import "reset.css";


h1,
h2,
h3,
p,
ol,
blockquote {
  width: 800px;
  margin: 0 auto;
}


h1 {
  font-size: 40px;
  font-weight: bold;
  color: black;
}

h2 {
  font-size: 30px;
  padding-top: 16px;
  font-weight: bold;
  margin-top: 20px;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 26px;
}

p {
  padding-top: 16px;
}

body {
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 20px;
  color: rgb(46, 46, 46);
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

img {
  width: 900px;
  margin-top: 30px;
  display: block;
  margin: 0 auto;
}

blockquote {
  margin-top: 20px;
  border-left: 2px solid rgb(46, 46, 46);
  padding-left: 16px;
  margin-left: 40px;
  font-style: italic;
}

.arch {
  list-style-type: disc;
}

.arch li {
  padding-top: 10px;
}

ol {
  list-style: none;
  counter-reset: section;
}

a {
  color: rgb(46, 46, 46);
}

a:hover {
  color: rgb(0, 0, 0);
}

.cont {
  margin-bottom: 20px;
}

li::before {
  counter-increment: section;
  content: counters(section,".") " ";
}

ul, ol {
  padding: 0px 24px;
}
